@charset "UTF-8";
html {
  font-size: 100%; }

html, body {
  margin: 0;
  padding: 0; }

.top-bar {
  width: 100%;
  background-color: #111111; }

.nav {
  width: 960px;
  height: 62px;
  margin: 0 auto;
  font-family: 'Helvetica', 'Helvetica World', 'Arial', sans-serif;
  color: #9E9E9E;
  font-size: 14px; }
  .nav > ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav > ul li {
      float: left; }
      .nav > ul li a {
        padding: 24px;
        display: block;
        color: #9E9E9E;
        text-decoration: none; }
      .nav > ul li a:hover {
        color: #FFFFFF;
        background-color: #000000; }

.top {
  width: 100%;
  clear: both;
  background-color: #351717;
  -webkit-box-shadow: inset 0px -33px 77px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -33px 77px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -33px 77px -4px rgba(0, 0, 0, 0.75); }

.header {
  width: 960px;
  margin: 0 auto;
  position: relative; }

.caption {
  width: 40%;
  position: absolute;
  bottom: 20px;
  right: 120px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: double 3px #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.79); }

.header-about {
  height: 400px;
  background: url(janandvinnie.jpg) rgba(0, 0, 0, 0.5) no-repeat;
  background-size: 80% auto;
  background-position: center; }

.header-home {
  background-image: url(homeportrait.jpg);
  background-size: 100% auto;
  height: 600px; }

.banner-home {
  position: relative;
  width: 240px;
  margin-left: 10%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.5);
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.79);
  font-family: 'Georgia', serif; }
  .banner-home a:link, .banner-home a:active, .banner-home a:visited {
    color: #FFFFFF;
    text-decoration: none; }
  .banner-home a:hover {
    color: #F5B400; }
  .banner-home a:after {
    content: " »"; }
  .banner-home .music {
    padding-bottom: 15px;
    position: absolute;
    bottom: 0; }
  .banner-home .music > ul {
    padding: 0;
    margin: 120px 0 0 0;
    width: 100%;
    list-style-type: none; }
    .banner-home .music > ul:before {
      background: url(logobarw.png) center no-repeat;
      background-size: 90% 20px;
      content: "";
      width: 240px;
      height: 20px;
      display: block; }
    .banner-home .music > ul:after {
      background: url(logobarupw.png) center no-repeat;
      background-size: 90% 20px;
      content: "";
      width: 240px;
      height: 20px;
      display: block; }
    .banner-home .music > ul > li {
      margin: 0 auto 10px auto;
      padding: 0 0 0 0;
      font-variant: small-caps;
      font-size: 28px;
      font-weight: bold;
      text-align: center; }
      .banner-home .music > ul > li:last-child > ul {
        border: 0;
        margin-bottom: 0; }
      .banner-home .music > ul > li:last-child {
        font-size: 20px;
        margin-bottom: 0; }
        .banner-home .music > ul > li:last-child ul {
          margin-top: 8px; }
      .banner-home .music > ul > li ul {
        list-style-type: none;
        padding: 0 0 10px 0;
        margin: 0 20px 0 20px;
        font-size: 14px;
        font-variant: normal;
        font-weight: 100;
        border-bottom: dotted 1px #000000; }
        .banner-home .music > ul > li ul li {
          padding: 0 7px 0 7px;
          margin: 0;
          display: inline-block; }
  .banner-home p {
    margin: 10px 20px 0 0;
    padding: 0;
    font-variant: small-caps;
    font-size: 18px;
    font-weight: normal;
    text-align: right; }
    .banner-home p a:after {
      content: " »"; }

.logo-home {
  width: 350px;
  height: 150px;
  position: relative;
  top: 150px;
  left: -70px;
  transform: rotate(10deg);
  background-image: url(logo-letters.png);
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.middle {
  width: 100%;
  padding: 40px 0 0 0;
  position: relative;
  background-color: #CFE6FF;
  background-image: url(crosswordblue.png); }

.main {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative; }
  .main a {
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #FF811E;
    text-decoration: none; }
    .main a:hover {
      color: #FFFB00; }

.secondary {
  margin: 0 40px;
  padding: 60px;
  width: 750px;
  font-family: 'Helvetica', 'Helvetica World', 'Arial', sans-serif;
  color: #636363;
  background-image: url(crossword.png);
  background-color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.49); }
  .secondary h1, .secondary h2 {
    margin-bottom: 20px;
    padding: 0 0 0 40px;
    font-family: 'Georgia', serif;
    font-weight: normal; }
  .secondary h1 {
    font-style: italic;
    color: #E86601;
    border-bottom: solid 1px #636363;
    font-size: 48px; }
  .secondary h2 {
    color: #C07C43;
    font-size: 40px; }
  .secondary p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px; }

.bio {
  margin: 0 0 0 40px;
  padding: 25px;
  width: 340px;
  font-family: 'Helvetica', 'Helvetica World', 'Arial', sans-serif;
  color: #636363;
  background-image: url(crossword.png);
  background-color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.49); }
  .bio h1 {
    margin-bottom: 20px;
    padding: 0;
    color: #E86601;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 32px; }
  .bio p {
    margin-bottom: 20px; }
  .bio p:last-child {
    text-align: right;
    font-size: 20px; }
    .bio p:last-child a:after {
      content: " »"; }

.contact {
  width: 460px;
  position: absolute;
  margin-left: 480px;
  font-family: 'Georgia', serif;
  font-size: 16px; }
  .contact h1 {
    margin: 0;
    padding: 0 20px 0 0;
    text-align: right;
    width: 440px;
    height: 75px;
    font-size: 42px;
    font-style: italic;
    font-family: 'Georgia', serif;
    background: url(logobarwbirdt.png) no-repeat;
    background-size: 100% auto;
    color: #000000; }
  .contact h2 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    clear: both; }
  .contact .rusty {
    margin: 0 auto 20px auto;
    width: 400px; }
  .contact .cd {
    position: relative;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: double 3px #FFFFFF; }
    .contact .cd h2 {
      color: #ff0;
      font-weight: bold; }
    .contact .cd h2, .contact .cd h3 {
      margin-bottom: 12px; }
    .contact .cd h3 {
      font-size: 22px;
      text-align: center;
      font-style: italic; }
    .contact .cd > h2 > span {
      font-variant: small-caps; }
    .contact .cd p {
      margin-bottom: 12px; }
      .contact .cd p:last-child {
        text-align: right;
        margin-bottom: 0; }
        .contact .cd p:last-child a {
          color: #fff;
          text-decoration: underline; }
          .contact .cd p:last-child a:hover {
            color: #ff0; }
  .contact > p {
    margin-bottom: 20px; }
  .contact .address {
    float: left;
    padding-right: 50px; }
  .contact strong {
    font-style: italic; }

.bottom {
  width: 100%;
  height: 30px;
  padding: 30px 0;
  background-color: #111111;
  clear: left; }

.footer {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Helvetica', 'Helvetica World', 'Arial', sans-serif;
  color: #9E9E9E;
  text-align: center; }

.clear-both {
  clear: left; }

/*# sourceMappingURL=styles.css.map */
